[Unit]
Description=Signal the Halium container that the boot has been completed
Requires=lxc@android.service
After=lxc@android.service

[Service]
Type=oneshot
ExecStart=/usr/bin/setprop sys.boot_completed 1

[Install]
WantedBy=graphical.target
